h1 {
    color: #1EB2FF;
    text-align: center;
    margin-top: 100px;
}

label {
    color: #5E6C84;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    margin-top: 5px;
}

input {
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    margin-top: 10px;
    width: 350px;
}

.text-field {
    margin: auto;
    width: 350px;
}

p {
    color: #F04338;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

p::before {
    display: inline;
    content: "⚠ ";
}

.btn {
    background-color: #1EB2FF;
    border-radius: 2px;
    display: block;
    color: white;
    width: 350px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

form {
    width: 100%;
}